{% extends 'index.html' %}

{% block title %} Add Post {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
            <form>
                <p>Title</p>
                <input type="text" name="title">
                <p>Content</p>
                <input type="text" name="content">
                <a href="/" class="btn btn-secondary btn-md">Cancel</a>
        </div>
        <div class="form-check form-group row">
            {% for tag in tags %}
            <div>
                <input class="form-input" type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
                <label class="form-check-label" for="tag_{{ tag.id }}">
                    {{tag.name}}
                </label>
            </div>
            {% endfor %}
        </div>
        <button formaction="/new_post/{{user_id}}" formmethod="POST">Add</button>
        </form>
    </div>
</div>
{% endblock %}