{% extends 'index.html' %}
{% block title %} Post Details Page {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{post.title}} </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{post.content}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1><i>By {{post.user.first_name}} {{post.user.last_name}} on {{post.created_at}}</i></h1>
            </div>
        </div>
        <div class="row">
            <a href="/">
                <button class="btn btn-primary btn-lg">Cancel</button>
            </a>
            <a href="/edit_post/{{post.id}}">
                <button class="btn btn-secondary btn-lg">Edit</button>
            </a>
            <a href="/delete_post/{{post.id}}">
                <button class="btn btn-third btn-lg">Delete</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}